VITE_SUPABASE_URL=https://cqzvqzwwevnflinxgnpp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNxenZxend3ZXZuZmxpbnhnbnBwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczMDk2MjQsImV4cCI6MjA5Mjg4NTYyNH0.XsY-Y2VFoPc3RiPQ8HZNlygeKK52GSB7hiy4ZCTXsP4
